body{
	min-width: 1100px;
	background-color: #222;
}

/* header*/
.headerwrap{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: rgba(0, 0, 0, .5)
}
.header{
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.header h1{
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 20px;
	width: 94px;
	height: 29px;
}
.header h1 a{
	display: inline-block;
}
.header h1 img{
	width: auto;
	height: auto;
	max-width: 94px;
	max-height: 29px;
}
.tnb{
	position: absolute;
	top:48px;
	left: 150px;
}
.tnb li{
	display: inline-block;
}
.tnb a{
	display: inline-block;
	color: #fff;
	font-size: 13px;
}
.nav{
	position: absolute;
	top:0;
	right: 0;
	padding-right: 20px;
}
.gnb{

}


/* dep1 li */
.gnb .dep1{
	display: inline-block;
	position: relative;
	float: left;
	padding: 36px 20px;
}
.gnb .dep1 > a {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.gnb .dep1 > a::after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #b9d0ff;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

/* dep2 ul */
.gnb .dep2{
	/*display: none;
	*/
	overflow:hidden;
	position: absolute;
	padding: 0 18px;
	top:90px;
	left: 0;
	width: 165px;
	height: 0;
	background-color: rgba(0, 0, 0, .5);
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
}
.gnb .dep2 li{
	line-height: 30px;
}
.gnb .dep2 a{
	color: #fff;
	font-size: 14px;
}
/* dep1 hover */
.gnb .dep1:hover > a{
	color: #b9d0ff;
	/* text-decoration: line-through; 가운데줄*/
	/* text-decoration: underline; 텍스트바로밑 줄*/
}
.gnb .dep1:hover > a::after{
	 /* display: block; */
	 width: 100%;
 }
/* dep1 hover 시 dep2 style */
.gnb .dep1:hover .dep2{
	height: 176px;
}

/* footer */
.footerwarp{
	width: 100%;
	background-color: #222;
}
.footer{
	position: relative;
	width: 1100px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: 100% 277px;
	background-image: url(../image/flogo.png);
	background-size:95px 29px;
}
.footer .customer{
	padding: 44px 0;
	border-bottom: 1px solid #333;
	text-align: center;
}
.footer .customer h2{
	position: relative;
	margin-bottom: 30px;
	font-size: 20px;
	color: #fff;
}
.footer .customer h2::after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -14px;
	left: 50%;
	width: 38px;
	height: 3px;
	background-color: #b9d0ff;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.footer .customer .tel{
	font-size: 26px;
	color: #666;
}
.footer .customer .time{
	margin-top:5px;
	font-size: 13px;
	color: #666;
}
.footer .customer .fmenu{
	margin-top:20px;
	font-size: 13px;
	color: #999;
}
.footer .customer .fmenu a{
	color: inherit;
	font-size: inherit;
}
.footer .customer .fmenu strong{
	color: inherit;
	font-size: inherit;
	font-weight: 400;
	text-decoration: underline;
}
.footer .info{
	padding: 40px 0;
	font-size: 13px;
	color: #777;
	text-align: left;
}
.footer .info address{
	color: inherit;
	font-size: inherit;
}
.footer .info p{
	color: inherit;
	font-size: inherit;
}

/* visual */
.visualwrap{
	/* height: 350px; */
	background: url(../image/visual.png) no-repeat 50% 50%;
	background-size: 100% 100%;
}
.visual{
	position: relative;
	width: 1100px;
	height: 350px;
	margin: 0 auto;
}
.visual strong{ 
	position: absolute;
	bottom: 80px;
	left: 15px;
	color: #101e3c;
	font-size: 30px;
}


/* sub container  layout*/
.wrap{
	background-color: #fff;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.container::after{
 content: "";
 display: block;
 clear: both;
}
.sidemeun{
	float: left;
	width: 274px;
	padding: 60px 0;
}
.sidemeun h2{
	padding: 0 15px;
	margin-bottom: 34px;
	color: #527fda;
	font-size: 26px;
}
.snb{

}
.snb li{

}
.snb a{
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 18px;
	color: #555;
	font-size: 14px;
}

.sub a:hover,
.snb .on a{
	background-color: #5380da;
	color: #fff;
}
.csection{
	position: relative;
	float: right;
	width: 826px;
	padding: 60px 0 60px 30px;
	border-left: 1px solid #ddd;
}

