html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,table,thead,tbody,tfoot,form,fieldset,label,legend,caption,tr,th,td,header,section,article,nav,address,figure,span,i,em,strong,b,ins,del,a,img{
margin:0;
padding:0;	
font-family: 'Noto Sans', '맑은고딕';
font-size: 15px;
color: black;
vertical-align: middle;
border: 0;
list-style: none;
font-size: normal;
box-sizing: border-box;
}
address,em,i{
	font-style: normal;
}
table{
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}
th,td{
	border: 0;
}
.clear{
	clear: both;
}
.clear::after{
	content: '';
	display: block;
	width: 100%;
}

/* 숨김처리 */
.tts{
	overflow: hidden;
	position: absolute;
	/* top:-999em; */
	z-index: -1;
	width: 1px;
	height: 1px;
	color: transparent;
}

/* text-aline */
.t-left{
text-align: left!important;
}
.t-center{
	text-align: center!important;
}
.t-right{
	text-align: right!important;
}

/* form */
label,input,select,textarea{
	vertical-align: middle;
}
label{
	display: block;
}
input[type="text"],
input[type="password"]{
	min-height: 20px;
	padding: 0 5px;
	border: 1px solid gray;
}
select{
	border: 1px solid gray;
}
textarea{
	width: 100%;
	border: 1px solid gray;
}

.chb input{
	overflow: hidden;
	position: absolute;
	z-index: -1;
	width: 1px;
	height: 1px;
	color: transparent;
}
.chb span{
	display: inline-block;
	padding-left:30px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 20px 20px;
	background-image: url('image/icon/ico_s1_off.png');
	line-height: 20px;
}
.chb input:checked + span{
	background-image: url('image/icon/ico_s1_on.png');
}

/* bottom style*/
.btn{
	min-width: 80px;
	min-height: 20px;
	padding: 5px 10px;
	border: 1px solid black;
	color: #222	;
	text-align: center;
	font-size: 13px;
}
.btn-list{
	
}
.btn-confirm{

}
.btn-cancel{

}
.btn-write{

}
.btn-edit{

}
.btn-close{

}
.bth-post{

}